{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Address-Book</title> ​
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <style>
        .footer-div {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    ​<div class="container" style="margin-top: 10px;">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Address-Book</span>
        </nav>

        ​<div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center jumbotron">
                ​<div class="text-center">
                    ​<h1>{% block header_jumbotron %}{% endblock %}</h1>
                    <form method="POST">

                        <div class="form-group">
                            <input class="form-control" type="text" name="contact_name" id="id_new_name" placeholder="Enter a contact name" required/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contact_phone" id="id_new_phone" placeholder="Enter a contact phone" required/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contact_address" id="id_new_address" placeholder="Enter a contact address" required/>
                        </div>
                        <div class="form-group">
                            <input id="submit-button" type="submit" class="btn btn-primary">
                        </div>

                        {% csrf_token %}
                    </form>
                    ​
                </div>
                ​</div>
            ​</div>
        <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            ​{% block task_comment %}
            ​{% endblock %}
        </div>
        ​<div class="row" style="margin-left: auto; margin-right: auto;">
            ​<div class="col-lg-12 col-md-offset-3">
                ​{% block table %}
                ​{% endblock %}
                ​</div>
            ​</div>
        ​
    </div>

    <div class="footer-div">
        <p id="footer">Agas Yanpratama</p>
    </div>

    <!-- Use jquery 3.7.1 and bootsrap 3.3.7-->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    {% block custom_script %}
    ​{% endblock %}

</body>

</html>