{% extends 'base.html' %}

{% block header_jumbotron %}Add New Contact{% endblock %}

{% block header_text %}Contact List:{% endblock %}

{% block table %}
<table class="table" id="id_list_table" style="width: 100%">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
    </tr>
    {% for item in items %}
    <tr>
        <td scope="row">{{ forloop.counter }}.</td>
        <td>
            <div class="contact-name">{{ item.name }}</div>
        </td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address }}</td>
        <td><button class="delete-contact btn btn-danger" id="del-button-{{forloop.counter}}" data-id="{{item.id}}">Delete</button></td>
    </tr>
    {% endfor %}
    ​
</table>
{% endblock %}

{% block custom_script %}
<script type="application/javascript">
    $(".delete-contact").on("click", function (e) {
        var todo_id = $(this).data('id');
        location.href = "delete_item/" + todo_id;
    });
</script>
{% endblock %}